.navbar-nav {
	margin-left: auto;
	align-items: center;
	align-content: center;
}

.navbar.bg-dark {
	background-color: black !important; 
}
  
.nav-link {
	font-size: 1.2rem;
	padding: 1rem;
}

.section {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Love Ya Like A Sister", cursive;
  	font-weight: 600;
  	font-style: normal;
	height: fit-content;
	padding-top:8vh;
}


#inicio{
	background-color:  rgb(0, 0, 0);
    padding-left: 5px;
    padding-right: 5px;
	padding-bottom: 10vh;
}

#tapa {
	height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 25vh;
}

#cabeza_pelada{
	align-self: center;
    max-height: 35vh;
}

#logo_pelada{
	align-self: center;
	max-width: 800px;
	width: 90%;
	max-height: 35%;
}

#creadores{
	display: flex;
    	flex-direction: row; 
	justify-content: space-evenly;
	flex-wrap: wrap;
	color: white;
	text-align: center;
	margin-bottom: 5rem;
}

#logos-muni{
	display:flex; 
	flex-direction: row; 
	flex-wrap: wrap; 
	width: 100%; 
	justify-content: center; 
	height: fit-content;
}

#Sobre_la_obra {
	background:  rgb(255, 255, 255);
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	margin-top: 15vh;
	align-items: center;
	text-align: center;
	min-height: 0vh;
}


#ficha{
	color: black;
	display: flex;
	flex-wrap: wrap;
    flex-direction:column; 
    justify-content: center;
	margin-top: 30px;
	margin-bottom: 20px;
	margin-left: 20px;
	margin-right: 20px;
}

#Hernan_Espinosa {
	background-color: #000000;
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	align-items: center;
	text-align: center;
	min-height: 0vh;
}

#Escenas {
	height: 90vp;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 20px;
	align-items: center;
	text-align: left;
	min-height: 0vh;
}

#Reparto{
	display: flex;
	justify-content: center;
}

#fotos_elenco{

	justify-content: center;
	margin-left: 5%;
	margin-right: 5%;
	display: flex;
	flex-wrap: wrap;
	max-width: 1000px;
}


.thumbnail {
	box-sizing: border-box;
	position: relative; /* Makes the container a positioning context */
	overflow-clip-margin: content-box;
    overflow: clip;
}

.thumbnail img {
	max-width: 120px;
	height: auto;
	margin: 8px;
}
  

.thumbnail2 {
	
	position: relative; /* Makes the container a positioning context */
	
	width:1100px;

}

.thumbnail2 img {
	max-width: 120px;
	height: auto;
	margin: 12px;
	border: 3px solid #ccc;
}

.thumbnail-label {
	position: absolute; /* Positions the label relative to the container */
	top: 5px; /* Adjust top position */
	left: 10px; /* Adjust left position */
	color: rgba(255, 255, 255, 0.7); /* Add a background for better visibility */
	padding: 5px; /* Add padding for spacing */
}

#musicales{
	background-color: #990000;
	position: relative;
	height: fit-content;
	padding-top: 15%;
	display: flex;
	align-items: center;
	flex-direction: column;
	font-family: "Love Ya Like A Sister", cursive;
  	font-weight: 600;
  	font-style: normal;
	color: white;
}

#musicales > div { 

    max-width: 80%; 
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
	padding-bottom: 10%;
}

strong {
    font-weight: 900;
	font-size: larger;
}

.signo {
	font-family: cursive;
	font-weight: bold;
}

strong2 {
    font-weight: 900;
}

light {
    font-weight: 500; 
}

.play_frame {
	max-width: 100px;
}

.transparent-button {
	background-color: transparent; /* Make the button transparent */
	border: 1px solid #ccc; /* Add a thin border */
	border-radius: 5px; /* Add rounded corners */
	padding: 5px; /* Add padding for spacing */
	cursor: pointer; /* Change cursor to pointer on hover */
	display: flex; /* Use flexbox for vertical alignment */
	flex-direction: column; /* Stack elements vertically */
	align-items: center; /* Center elements horizontally */
	color: white;
	width: fit-content;
	margin: 20px;
	font-weight: 500;
	font-size: large;
}
  
.transparent-button img {
	max-width: 90%;
	width: fit-content;
	height: auto; /* Maintain aspect ratio */
	margin-top: 5px; /* Add spacing between text and image */
}


.thumbnail:focus-within .messageBox, 
.thumbnail:hover .messageBox {
    display: block;
}

.messageBox {
    position: fixed;
    top: 80%; /* Center vertically */
    left: 50%; /* Center horizontally */					
    transform: translate(-50%, -50%);
    background-color: #000000;
    color: rgb(255, 255, 255);
    padding: 25px;
    border-radius: 10px;
    z-index: 1; 
    animation: fadeOut 2.5s forwards; 
    opacity: 0;
	width: fit-content;
	max-width: 90%;
}
  
  @keyframes fadeOut {
	0% { opacity: 0; }
	10% { opacity: 0.95; }
	70% { opacity: 0.95; } /* Stay visible for 5 seconds */
	100% { opacity: 0; display: none; } /* Fade out and hide */
  }
  
  /* Optional: Add a pointer cursor to the image */
  .myImage {
	cursor: pointer;
	position: relative;
  }

  html, body {
    width: 100%!important;
    overflow-x: hidden!important;
}
  
@media (max-width: 500px) {
	.navbar-nav {
	  margin: 0;
	}
	.nav-link {
	  padding: 0.5rem;
	}
	.card-title {
	  font-size: 1rem;
	}

	.card-body{
		min-height: 0px;
	}

    .display-4{
        font-size:45px;
    }
    .display-5{
        font-size:large;
    }
}
